@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Tourney:ital,wght@0,100;0,700;1,100;1,700&display=swap");

/*variables*/
:root {
  --night: #0a090c;
  --anti-flash-white: #f0edee;
  --midnight-green: #07393c;
  --caribbean-current: #2c666e;
  --non-photo-blue: #90ddf0;
  --black: #080705;
  --charcoal: #40434e;
  --wine: #702632;
  --cordovan: #912f40;
  --baby-powder: #fffffa;
  --selective-yellow: #fbaf00;
  --gold: #ffd639;
  --salmon: #ffa3af;
  --honolulu-blue: #007cbe;
  --pigment-green: #00af54;
}

/*general styling*/

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  overflow: hidden;
  font-family: "Audiowide";
  background-color: var(--honolulu-blue);
}
/*nav*/
nav {
  width: 100dvw;
  height: 3em;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #40434edd;
  display: flex;
  align-items: center;
  z-index: 200;
  transition: box-shadow 1s ease-in-out;
}
#navBtnBox {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  transform: translateX(-50px);
  transition: transform 1s ease-in-out;
}
.navButtons {
  background-color: transparent;
  font-family: "Audiowide";
  border: none;
  padding: 0.5em 1em;
  transition: color 0.3s ease-out;
}

.navButtons:hover {
  color: var(--non-photo-blue);
  text-shadow: #007cbe 0 0 5px;
}
a {
  text-decoration: none;
}

#aboutBtn {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
#skillsBtn {
  opacity: 100;
  transition: opacity 1s ease-in-out;
}
#projectsBtn {
  opacity: 100;
  transition: opacity 1s ease-in-out;
}
#experienceBtn {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
#backToTopBtn {
  width: 80.81px;
  display: none;
  animation: upAndDown infinite 2s linear;
}

/*footer*/
footer {
  width: 100dvw;
  height: 3em;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--black);
}

/*MainContainer*/

#mainContainer {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

/*left*/
#leftSlide {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: -100dvw;
  background-color: var(--honolulu-blue);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: left 1s ease-in-out;
}
#leftSlide::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
  position: fixed;
  right: 0;
}
#leftSlide::-webkit-scrollbar-thumb {
  background-color: var(--night);
  border-radius: 20px;
}

#skills {
  margin-top: 4em;
  width: 80%;
  min-height: 450px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#skills > h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5em;
}
#skillBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4px;
  align-items: center;
}
.imgBox {
  position: relative;
}
.infoPop {
  position: absolute;
  border-radius: 5px;
  border: 1pt var(--non-photo-blue) solid;
  padding: 0 0.5em;
  background-color: var(--night);
  color: aliceblue;
  font-weight: bold;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.pngSkill {
  width: 55px;
  aspect-ratio: 1;
  box-shadow: inset var(--night) 0 0 10px;
  border-radius: 10px;
}
.pngSkill:hover {
  animation: upAndDown infinite 0.5s linear;
}
.pngSkill:hover ~ .infoPop {
  opacity: 1;
  transform: translateY(-10px);
}
#currentBox {
  display: flex;
  justify-content: space-around;
}
#about {
  padding: 2em 2em 8em 2em;
  text-align: center;
  background-color: var(--honolulu-blue);
  transition: opacity 3s;
}
/*middle*/
#middleSlide {
  font-family: "Tourney";
  color: white;
  width: 100%;
  height: 100%;
  background-color: var(--honolulu-blue);
  transition: transform 1s ease-in-out;
  background-image: url("https://thumbs.gfycat.com/DelayedEmotionalAustrianpinscher-size_restricted.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
#middleFilter {
  height: 100dvh;
  width: 100dvw;
  backdrop-filter: blur(3px);
  transition: background-color 1s ease-in-out;
  display: flex;
  align-items: center;
}
#middleFilter:hover {
  background-color: #04436582;
}
#introduction {
  width: 90%;
  margin: auto;
}
.bi-gear-wide-connected {
  animation: spin infinite 5s linear;
}

/*right*/
#rightSlide {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  top: 0;
  right: -100dvw;
  background-color: rgb(0, 0, 78);
  color: aliceblue;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: right 1s ease-in-out;
}
#rightSlide::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
  position: fixed;
  right: 0;
}
#rightSlide::-webkit-scrollbar-thumb {
  background-color: var(--night);
  border-radius: 20px;
}
#projectsBox {
  margin-top: 4em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4em;
  height: 100dvh;
}
#folder {
  padding-top: 0.5em;
  padding-bottom: 3.5em;
}
.previewBox {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 230px;
  /*removed overflow hidden for position absolute description*/
  margin-bottom: 2em;
}
.projectTitle {
  position: absolute;
  top: -18px;
  background-image: linear-gradient(transparent 30%, black, transparent 75%);
}
.previewImgContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 1em;
  width: 100%;
  height: 190px;
  background-color: var(--night);
  border-radius: 5px;
  transition: border 0.3s ease-in-out;
}
.previewImgContainer::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
  position: fixed;
  right: 0;
}
.previewImgContainer::-webkit-scrollbar-thumb {
  background-color: var(--night);
  border-radius: 2px;
}
.previewImgContainer:hover {
  box-shadow: inset 0 0 2pt 1pt var(--non-photo-blue);
}
.previewImgContainer:hover .arrowDown {
  opacity: 1;
}
.arrowDown {
  display: flex;
  opacity: 0;
  position: absolute;
  top: 160px;
  left: 15px;
  color: var(--non-photo-blue);
  text-shadow: var(--non-photo-blue) 0 0 10px;
  transition: opacity 0.5s ease-in-out;
  background-image: linear-gradient(90deg, transparent, black, transparent);
}
.mobileArrow {
  display: flex;
  align-items: center;
  animation: upAndDown 1s infinite;
  margin-right: 0.5em;
}
.webView {
  width: 334px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.webView > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.responsiveView {
  width: 334px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.responsiveView > img {
  height: 100%;
  object-fit: cover;
}
.previewOptionsBox {
  position: absolute;
  width: 70%;
  left: 16%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  transition: bottom 0.5s ease-in-out;
  z-index: 1;
}
.prevBtn {
  font-family: "Audiowide";
  background-color: #07393c;
  color: var(--anti-flash-white);
  box-shadow: #080705 0 -5px 10px;
  border-radius: 5px;
  border: none;
  padding: 0.5em 1em;
}
.descriptionModal {
  padding-bottom: 1.5em;
}
.descriptionModal > p {
  position: absolute;
  top: -8px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1em;
  background-color: var(--night);
  border-radius: 5px;
  box-shadow: var(--non-photo-blue) 0 0 10px;
}
.descriptionModal > p::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
  position: fixed;
  right: 0;
}

#experiences {
  padding-bottom: 4em;
}

/*contact Icons*/
.contactIcon {
  color: var(--charcoal);
  transition: transform 1s ease-in-out, color 1s ease-in-out;
}

.contactIcon > a:hover,
.contactIcon:hover {
  color: white;
  transform: scale(1.1);
}

.contactIcon > a {
  text-decoration: none;
  color: var(--charcoal);
  transition: transform 1s ease-in-out, color 1s ease-in-out;
}

/*JS*/
.active {
  color: white;
}
.hidden {
  opacity: 0;
}
.showing {
  display: block;
}
.noShow {
  display: none;
}
.scrollBar::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    90deg,
    var(--non-photo-blue),
    var(--honolulu-blue),
    var(--non-photo-blue)
  );
}
.closing {
  animation: closing 0.3s linear;
}
.openUp {
  animation: openUp 0.3s linear;
}

/*animation*/
@keyframes sideToSideOut {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(30);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-30);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes openUp {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes closing {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  65% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*media queries*/
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 25pt;
  }
  #themeBox {
    width: 95%;
    bottom: 3em;
    right: -81dvw;
  }
  #mainThemeBox {
    border-left: none;
  }
}
@media only screen and (min-width: 501px) {
  /*Middle Box*/
  h1 {
    font-size: 35pt;
  }
  h1 .bi-gear-wide-connected {
    height: 22pt;
    width: 22pt;
  }
  /*Left Box*/
  .pngSkill {
    width: 100px;
  }
}
@media only screen and (min-width: 801px) {
  /*Middle Box*/
  h1 {
    font-size: 45pt;
  }
  h1 .bi-gear-wide-connected {
    height: 28pt;
    width: 28pt;
  }
  /*Left Box*/
  #skillBox {
    width: 60%;
    margin: auto;
  }
  .pngSkill {
    width: 100px;
  }
  #currentBox {
    width: 60%;
    margin: auto;
  }
  #bonusBox {
    width: 60%;
    margin: auto;
  }
  .animateHere {
    animation: slideIn 1s ease-in-out forwards;
  }
  li {
    list-style: square;
  }
  #bonusBox li {
    margin-bottom: 0.5em;
    opacity: 0;
  }
  #bonusBox li:nth-child(2) {
    animation-delay: 0.4s;
  }
  #bonusBox li:nth-child(3) {
    animation-delay: 0.8s;
  }
  #bonusBox li:nth-child(4) {
    animation-delay: 1.2s;
  }
  #bonusBox li:nth-child(5) {
    animation-delay: 1.6s;
  }
  /*Right Box*/
  #folder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 500px;
  }
  .previewBox {
    width: 30%;
    margin: 0;
  }
  .previewImgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .webView {
    width: 375px;
  }
  .previewOptionsBox {
    width: 100%;
    left: 0;
  }
}
